<template name="maksSubmit">
    <div class="maksSubmit">
        <div class="form-style">
            <div class="container">
                <form class="maksSubmitForm">
                    <h3>Send a mak!</h3>
                    <input autofocus="autofocus" type="text" id="mak" class="mak-form form-control" name="mak" placeholder="Type your mak here!"/>
                    <input type="submit" value="Release the mak!" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</template>